In [2]:
import pandas as pd
import numpy as np

header_data = ['Checking', 'Dur_month', 'Cred_hist', 'Purpose', 'Cred_amt', 'Sav_bonds', 'Employment', 'Installment', \
               'status_sex', 'debtors', 'present_residence', 'property', 'Age', 'other_install', 'Housing', 'existing_credit',\
               'job', 'people_maint', 'Phone', 'Foreign_worker', 'Credit_worthy']

train_data = pd.read_csv("C:/Users/Venkatesh/Dropbox/DS_projects/German_credit/german_data.txt", delim_whitespace = True,\
                         names = header_data)

In [3]:
train_data.head()

,Checking,Dur_month,Cred_hist,Purpose,Cred_amt,Sav_bonds,Employment,Installment,status_sex,debtors,...,property,Age,other_install,Housing,existing_credit,job,people_maint,Phone,Foreign_worker,Credit_worthy
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [4]:
# mapping the columns with object datatype (string to numerical)
for i in train_data.dtypes.index:
    if train_data.dtypes[i] == np.object:
        x = sorted(train_data[i].unique())
        train_data[i] = train_data[i].replace(x, range(len(x)))

In [5]:
train_data.head()

,Checking,Dur_month,Cred_hist,Purpose,Cred_amt,Sav_bonds,Employment,Installment,status_sex,debtors,...,property,Age,other_install,Housing,existing_credit,job,people_maint,Phone,Foreign_worker,Credit_worthy
0,0,6,4,4,1169,4,4,4,2,0,...,0,67,2,1,2,2,1,1,0,1
1,1,48,2,4,5951,0,2,2,1,0,...,0,22,2,1,1,2,1,0,0,2
2,3,12,4,7,2096,0,3,2,2,0,...,0,49,2,1,1,1,2,0,0,1
3,0,42,2,3,7882,0,3,2,2,2,...,1,45,2,2,1,2,2,0,0,1
4,0,24,3,0,4870,0,2,3,2,0,...,3,53,2,2,2,2,2,0,0,2

In [6]:
train_data.corr()

,Checking,Dur_month,Cred_hist,Purpose,Cred_amt,Sav_bonds,Employment,Installment,status_sex,debtors,...,property,Age,other_install,Housing,existing_credit,job,people_maint,Phone,Foreign_worker,Credit_worthy
Checking,1.000000,-0.072013,0.192191,0.053223,-0.042705,0.222867,0.106339,-0.005280,0.043261,-0.127737,...,-0.032260,0.059751,0.046841,0.022424,0.076005,0.040663,-0.014145,0.066296,-0.026758,-0.350847
Dur_month,-0.072013,1.000000,-0.077186,0.096027,0.624984,0.047661,0.057381,0.074749,0.014789,-0.024490,...,0.303971,-0.036136,-0.054884,0.157049,-0.011284,0.210910,-0.023834,0.164718,-0.138196,0.214927
Cred_hist,0.192191,-0.077186,1.000000,-0.081634,-0.059905,0.039058,0.138225,0.044375,0.042171,-0.040676,...,-0.053777,0.147086,0.121973,0.062095,0.437066,0.010350,0.011550,0.052370,0.013873,-0.228785
Purpose,0.053223,0.096027,-0.081634,1.000000,-0.030848,-0.024072,0.024990,0.078224,-0.003052,-0.032254,...,-0.031025,-0.030654,-0.039346,-0.019488,0.034958,-0.032655,-0.056450,0.018677,-0.124317,0.001514
Cred_amt,-0.042705,0.624984,-0.059905,-0.030848,1.000000,0.064630,-0.008367,-0.271316,-0.016091,-0.027832,...,0.311599,0.032716,-0.046008,0.135632,0.020795,0.285385,0.017142,0.276995,-0.050050,0.154739
Sav_bonds,0.222867,0.047661,0.039058,-0.024072,0.064630,1.000000,0.120950,0.021993,0.017349,-0.105069,...,0.018948,0.084245,0.001908,0.006505,-0.021644,0.011709,0.027514,0.087208,0.007095,-0.178943
Employment,0.106339,0.057381,0.138225,0.024990,-0.008367,0.120950,1.000000,0.126161,0.111278,-0.008116,...,0.087187,0.256227,-0.040154,0.111126,0.125791,0.101225,0.097192,0.060518,-0.027232,-0.116002
Installment,-0.005280,0.074749,0.044375,0.078224,-0.271316,0.021993,0.126161,1.000000,0.119308,-0.011398,...,0.053391,0.058266,-0.000983,0.089405,0.021669,0.097755,-0.071207,0.014413,-0.090024,0.072404
status_sex,0.043261,0.014789,0.042171,-0.003052,-0.016091,0.017349,0.111278,0.119308,1.000000,0.050634,...,-0.006940,0.007783,-0.036765,0.099579,0.064672,-0.011956,0.122165,0.027275,0.065618,-0.088184
debtors,-0.127737,-0.024490,-0.040676,-0.032254,-0.027832,-0.105069,-0.008116,-0.011398,0.050634,1.000000,...,-0.155450,-0.029873,-0.059023,-0.065889,-0.025447,-0.057963,0.020400,-0.075035,0.117999,-0.025137
present_residence,-0.042234,0.034067,0.063198,-0.062927,0.028926,0.091424,0.245081,0.049302,-0.027269,-0.025678,...,0.147231,0.266419,0.002089,0.011941,0.089625,0.012655,0.042643,0.095359,-0.054097,0.002967
property,-0.032260,0.303971,-0.053777,-0.031025,0.311599,0.018948,0.087187,0.053391,-0.006940,-0.155450,...,1.000000,0.072606,-0.090033,0.345219,-0.007765,0.276149,0.011872,0.196802,-0.132462,0.142612
Age,0.059751,-0.036136,0.147086,-0.030654,0.032716,0.084245,0.256227,0.058266,0.007783,-0.029873,...,0.072606,1.000000,-0.042346,0.301419,0.149254,0.015673,0.118201,0.145259,-0.006151,-0.091127
other_install,0.046841,-0.054884,0.121973,-0.039346,-0.046008,0.001908,-0.040154,-0.000983,-0.036765,-0.059023,...,-0.090033,-0.042346,1.000000,-0.072299,-0.048442,-0.004775,-0.076891,-0.019361,0.015211,-0.109844
Housing,0.022424,0.157049,0.062095,-0.019488,0.135632,0.006505,0.111126,0.089405,0.099579,-0.065889,...,0.345219,0.301419,-0.072299,1.000000,0.048591,0.107191,0.114508,0.102410,-0.063582,-0.019315
existing_credit,0.076005,-0.011284,0.437066,0.034958,0.020795,-0.021644,0.125791,0.021669,0.064672,-0.025447,...,-0.007765,0.149254,-0.048442,0.048591,1.000000,-0.026321,0.109667,0.065553,-0.009717,-0.045732
job,0.040663,0.210910,0.010350,-0.032655,0.285385,0.011709,0.101225,0.097755,-0.011956,-0.057963,...,0.276149,0.015673,-0.004775,0.107191,-0.026321,1.000000,-0.093559,0.383022,-0.100944,0.032735
people_maint,-0.014145,-0.023834,0.011550,-0.056450,0.017142,0.027514,0.097192,-0.071207,0.122165,0.020400,...,0.011872,0.118201,-0.076891,0.114508,0.109667,-0.093559,1.000000,-0.014753,0.077071,-0.003015
Phone,0.066296,0.164718,0.052370,0.018677,0.276995,0.087208,0.060518,0.014413,0.027275,-0.075035,...,0.196802,0.145259,-0.019361,0.102410,0.065553,0.383022,-0.014753,1.000000,-0.107401,-0.036466
Foreign_worker,-0.026758,-0.138196,0.013873,-0.124317,-0.050050,0.007095,-0.027232,-0.090024,0.065618,0.117999,...,-0.132462,-0.006151,0.015211,-0.063582,-0.009717,-0.100944,0.077071,-0.107401,1.000000,-0.082079
Credit_worthy,-0.350847,0.214927,-0.228785,0.001514,0.154739,-0.178943,-0.116002,0.072404,-0.088184,-0.025137,...,0.142612,-0.091127,-0.109844,-0.019315,-0.045732,0.032735,-0.003015,-0.036466,-0.082079,1.000000

In [11]:
#Columns with low correlation with Credit_worthy can be dropped. I am dropping columns with correlation coefficient less
# than 0.15 and greater than -0.15

# So we can consider only for the analysis 'Checking', 'Dur_month', 'Cred_hist', 'Cred_amt', 'Sav_bonds'
credit_analysis = train_data[['Checking', 'Dur_month', 'Cred_hist', 'Cred_amt', 'Sav_bonds', 'Credit_worthy']]

In [12]:
credit_analysis.head()

   Checking  Dur_month  Cred_hist  Cred_amt  Sav_bonds  Credit_worthy
0         0          6          4      1169          4              1
1         1         48          2      5951          0              2
2         3         12          4      2096          0              1
3         0         42          2      7882          0              1
4         0         24          3      4870          0              2

In [13]:
credit_analysis.corr()

,Checking,Dur_month,Cred_hist,Cred_amt,Sav_bonds,Credit_worthy
Checking,1.000000,-0.072013,0.192191,-0.042705,0.222867,-0.350847
Dur_month,-0.072013,1.000000,-0.077186,0.624984,0.047661,0.214927
Cred_hist,0.192191,-0.077186,1.000000,-0.059905,0.039058,-0.228785
Cred_amt,-0.042705,0.624984,-0.059905,1.000000,0.064630,0.154739
Sav_bonds,0.222867,0.047661,0.039058,0.064630,1.000000,-0.178943
Credit_worthy,-0.350847,0.214927,-0.228785,0.154739,-0.178943,1.000000

In [21]:
# Now we are going to split the data set in to "Credit_worthy" and "not Credit_worthy" data sets so that we could email
# appropriate offers to 

credit_email = credit_analysis.groupby(['Checking', 'Dur_month', 'Cred_hist', 'Sav_bonds', 'Credit_worthy'])['Cred_amt'].count()

In [23]:
credit_email = credit_email.unstack()

In [31]:
credit_email = credit_email.fillna(0)

In [36]:
credit_email = credit_email.reset_index()

In [37]:
credit_email.columns

Index(['Checking', 'Dur_month', 'Cred_hist', 'Sav_bonds', 1, 2], dtype='object', name='Credit_worthy')

In [39]:
credit_email.columns = ['Checking', 'Dur_month', 'Cred_hist', 'Sav_bonds','CW_yes','CW_no']

In [40]:
credit_email.head()

   Checking  Dur_month  Cred_hist  Sav_bonds  CW_yes  CW_no
0         0          6          1          0       0      1
1         0          6          2          0       4      2
2         0          6          2          1       1      0
3         0          6          2          2       2      0
4         0          6          2          4       1      0

In [42]:
#Now we can convert the ordinal numbers into corresponding text so that we can easily understand and create dashboard.
Dict_checking = {0: 'Low', 1:'Medium', 2:'High', 3:'No Acc'}
Dict_Credit = {0:'Outstanding', 1:'Excellent', 2:'Good', 3:'Bad', 4:'Worst'}
Dict_Sav = {0:'Very Low', 1:'Low', 2:'Medium', 3:'High', 4:'No Acc'}

Dict = [Dict_checking, Dict_Credit, Dict_Sav]

In [43]:
list = ['Checking','Cred_hist', 'Sav_bonds']
for i in range(3):
    credit_email[list[i]] = credit_email[list[i]].map(Dict[i])

In [45]:
credit_email.head()

  Checking  Dur_month  Cred_hist Sav_bonds  CW_yes  CW_no
0      Low          6  Excellent  Very Low       0      1
1      Low          6       Good  Very Low       4      2
2      Low          6       Good       Low       1      0
3      Low          6       Good    Medium       2      0
4      Low          6       Good    No Acc       1      0

In [46]:
credit_email.to_csv("C:/Users/Venkatesh/Dropbox/DS_projects/German_credit/german_Tableau_final.csv", index = False)